body {
  background-image: url(../img/fon.jpg);
}
a:visited {
  color: #128aa7;
}
.parent {
  background-color: white;
  width: 1064px;
  margin: 0px auto;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}
.logo img {
    float: left;
    margin: 11px 0px 0px 90px;
}
.contacts {
    float: right;
    color: #128aa7;
    font-size: 12px;
    text-align: left;
    padding: 10px 25px 0px 0px;
    font-family: Tahoma;
}
.contacts::first-line {
    font-size: 15px;
    line-height: 40px;
  }
.countries li {
    float: right;
    margin-right:5px;
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
    width: 65px;
    color: #128aa7;
}
.countries img {
    display: block;
    margin: 0 auto 5px;
  }
.clearfix:after{
    content: '';
    display: block;
    clear: right;
}
.beach img {
  width: 1064px;
  vertical-align: bottom;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
}
ul.menu {
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #333333;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-family: Tahoma;
    width: 132px;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 153px;
    top: 35px;
    left: 0;
    font-size: 15px;
    border-top: 1px solid black;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #333333;
    text-decoration: none;
    font-family: Tahoma;

}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
.fon {
    width: 1064px;
    overflow: hidden;
}
.leftColumn {
    width: 250px;
    float: left;
    background: #d5d9e0;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.centerColumn {
    width: 564px;
    float: left;
    background: white;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
    color: white;
}
.rightColumn {
    width: 250px;
    float: left;
    background: #d5d9e0;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
p.info {
    font-size: 18px;
    text-align: center;
    font-family: Tahoma;
    line-height: 28px;
}
p.news {
    font-size: 18px;
    text-align: center;
    font-family: Tahoma;
    line-height: 28px;
}
p.info::first-line {
    font-size: 25px;
    font-weight: bold;
}
p.news::first-line {
    font-size: 30px;
    font-weight: bold;
}
p.copy{
  color: white;
  text-align: center;
  margin: 13px 0px 10px 0px;
  font-family: Tahoma;
  font-size: 14px;
}
